body {
    background-color: powderblue;
}
h1 {
}
p {
}
table{
    display: flex;
    border: 1px solid black;
    background-color: bisque;
}
td{
    border: 1px solid black;
}
div {
    margin: 16px;
}
.mainClassRow{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;

}
.mainClassMiddle{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
