body {
    background-color: powderblue;
}
div {
    margin: 16px;
}
table{
    display: flex;
    border: none;
}
th, tr{
    border: none;
}

.mainClassRow{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;

}
.mainClassColumn{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.queries{
    height: 800px;
    width: 100%;
    display:flex;
    margin: 16px;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.results{
    height: 800px;
    width: 100%;
    display:flex;
    margin: 16px;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}